@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kv1t10');
	src:url('fonts/icomoon.eot?#iefixkv1t10') format('embedded-opentype'),
		url('fonts/icomoon.woff?kv1t10') format('woff'),
		url('fonts/icomoon.ttf?kv1t10') format('truetype'),
		url('fonts/icomoon.svg?kv1t10#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e942";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-alarm:before {
	content: "\e950";
}

.icon-heart:before {
	content: "\f004";
}

.icon-home:before {
	content: "\f015";
}

.icon-AMB_Logo_GreenBlack:before {
	content: "\e600";
}

