@import url('icomoon2.css');
@import url('maximage.min.css');
@import url('supersized.css');
@import url('galleriffic-2.css');
@import url('../svg/style.css');
/* =============================================================================
   Imports
   ========================================================================== */
/*
	Kube Framework 4
*/
.bold {
  font-weight: bold;
}
.centered {
  margin: 0 auto;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 7px;
  right: 10px;
}
.hide-text {
  text-indent: -5000px;
  font-size: 0;
}
.uppercase {
  text-transform: uppercase;
}
.cover {
  background-size: 100%;
}
.pointer {
  cursor: pointer;
}
.italic {
  font-style: italic;
}
.container {
  max-width: 1000px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  padding: 10px;
}
.top-center {
  background-position: center top;
}
.desktop-hidden {
  display: none;
}
.no-repeat {
  background-repeat: no-repeat;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.no-bg {
  background: transparent !important;
}
.last {
  border: 0!important;
  margin-right: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* =Reset
-----------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* Normalize horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Responsive media */
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 0.9375em;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #134da5;
}
a:focus,
a:hover {
  color: #de2c3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: adobe-caslon-pro, serif;
  font-weight: bold;
  color: #000000;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
h1,
.h1,
h2,
.h2 {
  line-height: 1.1;
}
h3,
.h3,
h4,
.h4 {
  line-height: 1.3;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 1.5em;
  margin-bottom: .7em;
}
h3,
.h3 {
  font-size: 1.3125em;
}
h4,
.h4 {
  font-size: 1.125em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: 0.75em;
  text-transform: uppercase;
}
h1 {
  font-family: kepler-std-condensed-display, serif;
}
/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 1.3125em;
  line-height: 1.5;
  margin-bottom: 1.1em;
}
/* =Line height and margin
-----------------------------------------------------------------------------*/
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 3.3em;
}
ul li,
ol li {
  text-align: left;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure,
address {
  margin-bottom: 1.65em;
}
/* =Blockquote
-----------------------------------------------------------------------------*/
blockquote {
  position: relative;
  font-style: italic;
  font-size: 1.125em;
  margin-left: 2.475em;
  padding-left: 1.65em;
  border-left: 2px solid #dddddd;
}
blockquote p {
  margin-bottom: .5em;
}
blockquote small,
cite {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}
small,
blockquote cite {
  font-size: 12.75px;
  line-height: 1;
}
/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal;
}
/* =Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.65em;
}
/* =Text-level
-----------------------------------------------------------------------------*/
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #0f0f0f;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 11.25px;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  margin: .3em 0;
  font-size: 12.75px;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #ffc800;
  color: #0f0f0f;
  text-decoration: none;
}
/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  margin-top: 1.65em;
  font-size: 100%;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
}
code,
samp,
kbd {
  padding: 3px 6px 2px 6px;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.65em;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #d3e3fb;
  border: 1px solid #b2cef8;
}
kbd {
  background: #0f0f0f;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
/* =Form
-----------------------------------------------------------------------------*/
button:active,
button:focus {
  outline: none;
}
textarea,
select {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
}
textarea,
select[multiple],
select[multiple="multiple"] {
  padding: 0.3em 0.35em;
  line-height: 1.35em;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  padding: 0.3em 0.35em;
  line-height: 1.65em;
  border-radius: 0;
  outline: none;
}
select[multiple],
select[multiple="multiple"],
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  background: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
}
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="phone"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="datetime"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="time"][disabled],
input[type="search"][disabled],
input[type="datetime-local"][disabled] {
  resize: none;
  color: rgba(0, 0, 0, 0.5);
}
select[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select {
  margin-bottom: 0 !important;
}
fieldset {
  padding: 1.65em;
  margin-bottom: 1.65em;
  border: 1px solid #cccccc;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}
/* =Tables
-----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0 1.1em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12.75px;
}
table th,
table td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.825em 1.1em;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.4);
}
/* =Grid
-----------------------------------------------------------------------------*/
.units-container:after,
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-container {
  /* it's the trick to not collapse padding-top in the child element */
  padding-top: 1px;
  margin-top: -1px;
}
.units-row {
  margin-bottom: 1.65em;
}
.width-100,
.unit-100 {
  width: 100%;
}
.width-90,
.unit-90 {
  width: 90%;
}
.width-80,
.unit-80 {
  width: 80%;
}
.width-75,
.unit-75 {
  width: 75%;
}
.width-70,
.unit-70 {
  width: 70%;
}
.width-66,
.unit-66 {
  width: 66.6%;
}
.width-65,
.unit-65 {
  width: 65%;
}
.width-60,
.unit-60 {
  width: 60%;
}
.width-50,
.unit-50 {
  width: 50%;
}
.width-40,
.unit-40 {
  width: 40%;
}
.width-35,
.unit-35 {
  width: 35%;
}
.width-33,
.unit-33 {
  width: 33.3%;
}
.width-30,
.unit-30 {
  width: 30%;
}
.width-25,
.unit-25 {
  width: 25%;
}
.width-20,
.unit-20 {
  width: 20%;
}
.width-10,
.unit-10 {
  width: 10%;
}
.units-row .unit-90,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-65,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-35,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-10 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-90:first-child,
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-65:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-35:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row .unit-10:first-child {
  margin-left: 0;
}
.units-row .unit-90 {
  width: 89.7%;
}
.units-row .unit-80 {
  width: 79.4%;
}
.units-row .unit-75 {
  width: 74.25%;
}
.units-row .unit-70 {
  width: 69.1%;
}
.units-row .unit-66 {
  width: 65.66666667%;
}
.units-row .unit-65 {
  width: 65.66666667%;
}
.units-row .unit-60 {
  width: 58.8%;
}
.units-row .unit-50 {
  width: 48.5%;
}
.units-row .unit-40 {
  width: 38.2%;
}
.units-row .unit-35 {
  width: 31.33333333%;
}
.units-row .unit-33 {
  width: 31.33333333%;
}
.units-row .unit-30 {
  width: 27.9%;
}
.units-row .unit-25 {
  width: 22.75%;
}
.units-row .unit-20 {
  width: 17.6%;
}
.units-row .unit-10 {
  width: 7.3%;
}
.unit-push-90,
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-65,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-35,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20,
.unit-push-10 {
  position: relative;
}
.unit-push-90 {
  left: 92.7%;
}
.unit-push-80 {
  left: 82.4%;
}
.unit-push-75 {
  left: 77.25%;
}
.unit-push-70 {
  left: 72.1%;
}
.unit-push-66 {
  left: 68.66666667%;
}
.unit-push-65 {
  left: 68.66666667%;
}
.unit-push-60 {
  left: 61.8%;
}
.unit-push-50 {
  left: 51.5%;
}
.unit-push-40 {
  left: 41.2%;
}
.unit-push-35 {
  left: 34.33333333%;
}
.unit-push-33 {
  left: 34.33333333%;
}
.unit-push-30 {
  left: 30.9%;
}
.unit-push-25 {
  left: 25.75%;
}
.unit-push-20 {
  left: 20.6%;
}
.unit-push-10 {
  left: 10.3%;
}
.units-row .unit-push-right {
  float: right;
}
.units-row .unit-role-right {
  margin-left: 3%;
  float: right;
}
.units-row .unit-role-left {
  margin-left: 0;
}
.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}
.unit-padding {
  padding: 1.65em;
}
.units-padding .unit-100,
.units-padding .unit-90,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-65,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-35,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20,
.units-padding .unit-10 {
  padding: 1.65em;
}
.units-split .unit-90,
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-65,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-35,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20,
.units-split .unit-10 {
  margin-left: 0;
}
.units-split .unit-90 {
  width: 90%;
}
.units-split .unit-80 {
  width: 80%;
}
.units-split .unit-75 {
  width: 75%;
}
.units-split .unit-70 {
  width: 70%;
}
.units-split .unit-66 {
  width: 66.6%;
}
.units-split .unit-65 {
  width: 65%;
}
.units-split .unit-60 {
  width: 60%;
}
.units-split .unit-50 {
  width: 50%;
}
.units-split .unit-40 {
  width: 40%;
}
.units-split .unit-35 {
  width: 35%;
}
.units-split .unit-33 {
  width: 33.3%;
}
.units-split .unit-30 {
  width: 30%;
}
.units-split .unit-25 {
  width: 25%;
}
.units-split .unit-20 {
  width: 20%;
}
.units-split .unit-10 {
  width: 10%;
}
/* =Blocks
-----------------------------------------------------------------------------*/
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
  padding-left: 0;
  list-style: none;
  margin-left: -3%;
}
.blocks-2:after,
.blocks-3:after,
.blocks-4:after,
.blocks-5:after,
.blocks-6:after {
  content: "";
  display: table;
  clear: both;
}
.blocks-2 > li,
.blocks-3 > li,
.blocks-4 > li,
.blocks-5 > li,
.blocks-6 > li {
  height: auto;
  float: left;
  margin-bottom: 1.65em;
  margin-left: 3%;
}
.blocks-2 > li ul,
.blocks-3 > li ul,
.blocks-4 > li ul,
.blocks-5 > li ul,
.blocks-6 > li ul {
  list-style-type: disc;
}
.blocks-2 > li ul ul,
.blocks-3 > li ul ul,
.blocks-4 > li ul ul,
.blocks-5 > li ul ul,
.blocks-6 > li ul ul {
  list-style-type: circle;
}
.blocks-2 > li li,
.blocks-3 > li li,
.blocks-4 > li li,
.blocks-5 > li li,
.blocks-6 > li li {
  float: none;
  margin: 0;
}
.blocks-2 > li {
  width: 47%;
}
.blocks-3 > li {
  width: 30.33333333%;
}
.blocks-4 > li {
  width: 22%;
}
.blocks-5 > li {
  width: 17%;
}
.blocks-6 > li {
  width: 13.66666667%;
}
.block-first {
  clear: both;
}
/* =Tables
-----------------------------------------------------------------------------*/
table.table-bordered td,
table.table-bordered th {
  border: 1px solid #eeeeee;
}
table.table-simple td,
table.table-simple th,
table.table-simple caption {
  border: none;
  padding-left: 0;
}
table.table-flat td,
table.table-flat th,
table.table-flat caption {
  border: none;
  padding: 0;
}
table.table-stroked td,
table.table-stroked th {
  border-bottom: 1px solid #eeeeee;
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
table.table-hovered tbody tr:hover td {
  background-color: #f4f4f4;
}
/* Responsive Tables */
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.65em;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms .btn,
.forms input[type="submit"].btn,
.forms button,
.forms input[type="submit"],
.forms input[type="reset"] {
  padding: 0.3625em 1.3em;
}
.forms .btn-outline {
  padding: 0.3em 1.3em;
}
.forms .btn-outline.bold {
  padding: 0.2375em 1.3em;
}
.forms label {
  display: block;
  margin-bottom: 1.1em;
}
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="url"],
.forms input[type="phone"],
.forms input[type="tel"],
.forms input[type="number"],
.forms input[type="datetime"],
.forms input[type="date"],
.forms input[type="month"],
.forms input[type="color"],
.forms input[type="time"],
.forms input[type="search"],
.forms input[type="range"],
.forms input[type="file"],
.forms input[type="datetime-local"],
.forms textarea,
.forms select {
  display: block;
}
.forms-inline input[type="text"],
.forms-inline-list input[type="text"],
.forms-inline input[type="password"],
.forms-inline-list input[type="password"],
.forms-inline input[type="email"],
.forms-inline-list input[type="email"],
.forms-inline input[type="url"],
.forms-inline-list input[type="url"],
.forms-inline input[type="phone"],
.forms-inline-list input[type="phone"],
.forms-inline input[type="tel"],
.forms-inline-list input[type="tel"],
.forms-inline input[type="number"],
.forms-inline-list input[type="number"],
.forms-inline input[type="datetime"],
.forms-inline-list input[type="datetime"],
.forms-inline input[type="date"],
.forms-inline-list input[type="date"],
.forms-inline input[type="month"],
.forms-inline-list input[type="month"],
.forms-inline input[type="color"],
.forms-inline-list input[type="color"],
.forms-inline input[type="time"],
.forms-inline-list input[type="time"],
.forms-inline input[type="search"],
.forms-inline-list input[type="search"],
.forms-inline input[type="range"],
.forms-inline-list input[type="range"],
.forms-inline input[type="file"],
.forms-inline-list input[type="file"],
.forms-inline input[type="datetime-local"],
.forms-inline-list input[type="datetime-local"],
.forms-inline textarea,
.forms-inline-list textarea,
.forms-inline select,
.forms-inline-list select {
  display: inline-block;
}
.forms-list,
.forms-inline,
.forms-inline-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1.1em;
  list-style: none;
}
.forms-list label,
.forms-inline label,
.forms-inline-list li,
.forms-inline-list li label {
  display: inline-block;
  margin-bottom: 0;
}
.forms-inline-list li label {
  margin-right: 0.825em;
}
.forms-inline-list li {
  margin-bottom: 3px;
}
.forms-list li {
  margin-bottom: 6px;
}
.forms-desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12.75px;
  line-height: 1.4em;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea {
  -moz-transition: border ease 0.5s;
  transition: border ease 0.5s;
}
/* States */
.error,
.success {
  font-weight: normal;
  font-size: 12.75px;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #de2c3b;
  box-shadow: 0 0 0 2px rgba(222, 44, 59, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #2c9f42;
  box-shadow: 0 0 0 2px rgba(44, 159, 66, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #b3b6b7;
  box-shadow: 0 0 0 2px rgba(179, 182, 183, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: none;
  border-color: #2575ed;
  box-shadow: 0 0 0 2px rgba(37, 117, 237, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
/*
	Search
*/
input.input-search,
input[type="search"] {
  padding-right: .5em;
  padding-left: .5em;
  margin-bottom: 0;
  border-radius: 15px;
}
input.input-on-black {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.35);
}
input.input-on-black::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input.input-on-black::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input.input-on-black:focus,
input.input-on-black.active {
  border: 1px solid #fff;
  background: #fff;
  box-shadow: none;
}
input.input-on-black:focus::-webkit-input-placeholder,
input.input-on-black.active::-webkit-input-placeholder {
  color: #aaa;
}
input.input-on-black:focus::-moz-placeholder,
input.input-on-black.active::-moz-placeholder {
  color: #aaa;
}
/* Sizes */
input.input-big {
  font-size: 18px;
}
input.input-small {
  font-size: 12.75px;
}
input.input-smaller {
  font-size: 11.25px;
}
/* Append & Prepend */
.input-groups {
  display: table !important;
}
.input-groups input {
  width: 100%;
}
.input-groups input,
.input-groups .input-append,
.input-groups .input-prepend,
.input-groups .btn-append {
  display: table-cell !important;
}
.input-groups .btn-append,
.input-groups .input-append,
.input-groups .input-prepend {
  width: 1%;
  vertical-align: middle;
}
.input-groups .input-append,
.input-groups .input-prepend {
  background-color: #f4f4f4;
  border: 1px solid #d4d4d4;
  margin: 0;
  padding: .45em .75em .15em .75em;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.65em;
  font-size: 12.75px;
  white-space: nowrap;
}
.input-groups .input-prepend {
  border-right: none;
}
.input-groups .input-append {
  position: relative;
  z-index: 1;
  border-left: none;
}
.input-groups .btn-append .btn {
  display: block;
  height: auto;
  border-radius: 0 2px 2px 0;
}
/* =Navs
-----------------------------------------------------------------------------*/
/* NavBar */
.navbar {
  font-size: 105%;
  margin-bottom: 1.65em;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar.navbar-left {
  float: left;
}
.navbar.navbar-right {
  float: right;
}
.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar li {
  float: left;
  margin-right: 1.65em;
}
.navbar.navbar-right li {
  margin-right: 0;
  margin-left: 1.65em;
}
.navbar a,
.navbar span {
  display: block;
  text-decoration: none;
}
.navbar a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.navbar li.active a,
.navbar span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.navigation-toggle {
  display: none;
  text-transform: uppercase;
  position: relative;
  color: #0f0f0f;
  background-color: #ffffff;
}
.navigation-toggle:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -12px;
  left: 10px;
  content: "\2630";
  font-size: 24px;
  line-height: 1;
}
.navigation-toggle.navigation-toggle-black {
  background-color: #0f0f0f;
  color: #ffffff;
}
.navigation-toggle.navigation-toggle-show {
  margin-bottom: 1.65em;
}
.navigation-toggle span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 40px;
}
.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
/* Pills */
.navbar-pills a,
.navbar-pills span {
  padding: 0.825em 1.65em;
}
.navbar-pills a:hover {
  color: #0f0f0f;
  background: #eee;
}
.navbar-pills li.active a,
.navbar-pills span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
  background: #eee;
}
.navbar-pills li {
  margin-right: 1px;
}
.navbar-pills.navbar-right li {
  margin-left: 1px;
}
/* Fullwidth */
.fullwidth ul {
  width: 100%;
}
.fullwidth li {
  float: none !important;
  margin: 0;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.fullwidth li a,
.fullwidth li span {
  display: block;
}
/* Vertical */
.nav {
  margin-bottom: 1.65em;
}
.nav ul {
  list-style: none;
  margin: 0;
}
.nav ul li ul {
  margin-left: 2em;
  font-size: .95em;
}
.nav a,
.nav span {
  display: block;
  padding: .5em 0;
}
.nav a {
  color: #0f0f0f;
  text-decoration: none;
}
.nav a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.nav li.active a,
.nav span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.nav i.fa {
  width: 1.65em;
}
/* Stacked */
.nav-stacked li {
  margin-bottom: 1px;
}
.nav-stacked a,
.nav-stacked span {
  padding: .6em .7em;
}
.nav-stacked a {
  background: #f6f6f6;
}
.nav-stacked a:hover {
  color: #000;
  background: #eee;
}
.nav-stacked li.active a,
.nav-stacked span {
  background: #ffffff;
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.3);
}
/* Stats */
.nav-stats li {
  position: relative;
}
.nav-stats a,
.nav-stats span {
  padding-right: 50px;
}
.nav-stats sup,
.nav-stats .badge {
  position: absolute;
  top: 50%;
  right: 0;
}
.nav-stats sup {
  color: rgba(0, 0, 0, 0.4);
}
.nav-stats .badge {
  margin-top: -8px;
}
/* =Tabs
-----------------------------------------------------------------------------*/
.nav-tabs {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 1.65em;
}
.nav-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.nav-tabs ul {
  list-style: none;
  margin: 0;
}
.nav-tabs li {
  float: left;
  margin-right: 2px;
}
.nav-tabs a,
.nav-tabs span {
  display: block;
  line-height: 1;
  padding: 0.825em 1.65em;
  border: 1px solid transparent;
}
.nav-tabs a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nav-tabs a:focus,
.nav-tabs a:hover {
  color: #0f0f0f;
  text-decoration: underline;
  background-color: #eee;
}
.nav-tabs li.active a,
.nav-tabs span {
  color: #0f0f0f;
  background: #fff;
  position: relative;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  bottom: -1px;
  cursor: default;
  text-decoration: none;
}
/* =Breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumbs {
  margin-bottom: 1.65em;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs ul {
  font-size: .9em;
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  margin: 0;
}
.breadcrumbs ul:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs li {
  float: left;
  margin-right: 5px;
}
.breadcrumbs li + li:before {
  content: " > ";
  color: #aaa;
  font-size: 12px;
  margin: 0 7px 0 5px;
  position: relative;
  top: -1px;
}
.breadcrumbs.breadcrumbs-path li + li:before {
  content: " / ";
  top: 0;
}
.breadcrumbs a {
  color: #0f0f0f;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #0f0f0f;
  text-decoration: underline;
}
.breadcrumbs li.active a,
.breadcrumbs span,
.breadcrumbs li.active a:hover {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  position: relative;
  left: -9px;
  margin-left: 0;
  list-style: none;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination li {
  float: left;
  margin-right: 2px;
}
.pagination a,
.pagination span {
  display: block;
  padding: 7px 9px;
  line-height: 1;
  border-radius: 2px;
  color: #0f0f0f;
  text-decoration: none;
}
.pagination span,
.pagination li.active a,
.pagination li.active a:hover {
  color: #ffffff;
  background-color: #0f0f0f;
  cursor: text;
}
.pagination a:focus,
.pagination a:hover {
  text-decoration: none;
  background-color: #0f0f0f;
  color: #fff;
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
input[type="submit"].btn {
  display: inline-block;
  vertical-align: top;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.65em;
  text-align: center;
  text-decoration: none;
  color: #222222;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  background: #e0e3e5;
  padding: 0.55em 2.5em;
}
.btn:hover,
input[type="submit"].btn:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #b3b6b7;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-big,
input[type="submit"].btn-big {
  font-size: 18px;
}
.btn-small,
input[type="submit"].btn-small {
  font-size: 12.75px;
}
.btn-smaller,
input[type="submit"].btn-smaller {
  font-size: 11.25px;
  vertical-align: baseline;
}
.btn-round {
  border-radius: 15px;
}
.btn-outline,
input[type="submit"].btn-outline {
  background: none;
  padding: 0.4875em 2.5em;
  border: 1px solid #0f0f0f;
}
.btn-outline:hover,
input[type="submit"].btn-outline:hover {
  border-color: #b3b6b7;
}
.btn-outline.btn-active {
  padding: 0.55em 2.5em;
}
.btn-outline.bold {
  border-width: 2px;
  padding: 0.425em 2.5em;
}
.btn-active,
.btn[disabled],
.btn-disabled {
  background: none;
  background: #b3b6b7;
  color: rgba(0, 0, 0, 0.5);
}
.btn-active:hover,
.btn[disabled]:hover,
.btn-disabled:hover {
  color: rgba(0, 0, 0, 0.5);
  background: #b3b6b7;
}
.btn-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}
.btn-outline.btn[disabled],
.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-outline.btn-active {
  background: none;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.btn[disabled],
.btn-disabled {
  cursor: default;
  box-shadow: none;
}
.btn-blue,
input[type="submit"].btn-blue {
  color: rgba(255, 255, 255, 0.9);
  background: #2575ed;
}
.btn-blue:hover,
input[type="submit"].btn-blue:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #1a52a5;
}
.btn-blue.btn-active,
input[type="submit"].btn-blue.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-blue.btn-active,
input[type="submit"].btn-blue.btn-active,
.btn-blue.btn-disabled,
input[type="submit"].btn-blue.btn-disabled,
.btn-blue.btn[disabled],
input[type="submit"].btn-blue.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #1a52a5;
}
.btn-blue.btn-active:hover,
input[type="submit"].btn-blue.btn-active:hover,
.btn-blue.btn-disabled:hover,
input[type="submit"].btn-blue.btn-disabled:hover,
.btn-blue.btn[disabled]:hover,
input[type="submit"].btn-blue.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-blue.btn-outline,
input[type="submit"].btn-blue.btn-outline {
  background: none;
  border-color: #2575ed;
  color: #2575ed;
}
.btn-blue.btn-outline:hover,
input[type="submit"].btn-blue.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2575ed;
}
.btn-blue.btn-outline.btn[disabled],
input[type="submit"].btn-blue.btn-outline.btn[disabled],
.btn-blue.btn-outline.btn-disabled,
input[type="submit"].btn-blue.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(37, 117, 237, 0.4);
  border: 1px solid rgba(37, 117, 237, 0.3);
}
.btn-blue.btn-outline.btn-active,
input[type="submit"].btn-blue.btn-outline.btn-active {
  background: none;
  color: rgba(37, 117, 237, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(26, 82, 165, 0.6) inset;
}
.btn-red,
input[type="submit"].btn-red {
  color: rgba(255, 255, 255, 0.9);
  background: #de2c3b;
}
.btn-red:hover,
input[type="submit"].btn-red:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #b2232f;
}
.btn-red.btn-active,
input[type="submit"].btn-red.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-red.btn-active,
input[type="submit"].btn-red.btn-active,
.btn-red.btn-disabled,
input[type="submit"].btn-red.btn-disabled,
.btn-red.btn[disabled],
input[type="submit"].btn-red.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #b2232f;
}
.btn-red.btn-active:hover,
input[type="submit"].btn-red.btn-active:hover,
.btn-red.btn-disabled:hover,
input[type="submit"].btn-red.btn-disabled:hover,
.btn-red.btn[disabled]:hover,
input[type="submit"].btn-red.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-red.btn-outline,
input[type="submit"].btn-red.btn-outline {
  background: none;
  border-color: #de2c3b;
  color: #de2c3b;
}
.btn-red.btn-outline:hover,
input[type="submit"].btn-red.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #de2c3b;
}
.btn-red.btn-outline.btn[disabled],
input[type="submit"].btn-red.btn-outline.btn[disabled],
.btn-red.btn-outline.btn-disabled,
input[type="submit"].btn-red.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(222, 44, 59, 0.4);
  border: 1px solid rgba(222, 44, 59, 0.3);
}
.btn-red.btn-outline.btn-active,
input[type="submit"].btn-red.btn-outline.btn-active {
  background: none;
  color: rgba(222, 44, 59, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(178, 35, 47, 0.6) inset;
}
.btn-green,
input[type="submit"].btn-green {
  color: rgba(255, 255, 255, 0.9);
  background: #2c9f42;
}
.btn-green:hover,
input[type="submit"].btn-green:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #237f35;
}
.btn-green.btn-active,
input[type="submit"].btn-green.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-green.btn-active,
input[type="submit"].btn-green.btn-active,
.btn-green.btn-disabled,
input[type="submit"].btn-green.btn-disabled,
.btn-green.btn[disabled],
input[type="submit"].btn-green.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #237f35;
}
.btn-green.btn-active:hover,
input[type="submit"].btn-green.btn-active:hover,
.btn-green.btn-disabled:hover,
input[type="submit"].btn-green.btn-disabled:hover,
.btn-green.btn[disabled]:hover,
input[type="submit"].btn-green.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-green.btn-outline,
input[type="submit"].btn-green.btn-outline {
  background: none;
  border-color: #2c9f42;
  color: #2c9f42;
}
.btn-green.btn-outline:hover,
input[type="submit"].btn-green.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2c9f42;
}
.btn-green.btn-outline.btn[disabled],
input[type="submit"].btn-green.btn-outline.btn[disabled],
.btn-green.btn-outline.btn-disabled,
input[type="submit"].btn-green.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(44, 159, 66, 0.4);
  border: 1px solid rgba(44, 159, 66, 0.3);
}
.btn-green.btn-outline.btn-active,
input[type="submit"].btn-green.btn-outline.btn-active {
  background: none;
  color: rgba(44, 159, 66, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(35, 127, 53, 0.6) inset;
}
.btn-black,
input[type="submit"].btn-black {
  color: rgba(255, 255, 255, 0.9);
  background: #0f0f0f;
}
.btn-black:hover,
input[type="submit"].btn-black:hover {
  color: rgba(255, 255, 255, 0.6);
  background: #363738;
}
.btn-black.btn-active,
input[type="submit"].btn-black.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
}
.btn-black.btn-active,
input[type="submit"].btn-black.btn-active,
.btn-black.btn-disabled,
input[type="submit"].btn-black.btn-disabled,
.btn-black.btn[disabled],
input[type="submit"].btn-black.btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
  background: #363738;
}
.btn-black.btn-active:hover,
input[type="submit"].btn-black.btn-active:hover,
.btn-black.btn-disabled:hover,
input[type="submit"].btn-black.btn-disabled:hover,
.btn-black.btn[disabled]:hover,
input[type="submit"].btn-black.btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.5);
}
.btn-black.btn-outline,
input[type="submit"].btn-black.btn-outline {
  background: none;
  border-color: #0f0f0f;
  color: #0f0f0f;
}
.btn-black.btn-outline:hover,
input[type="submit"].btn-black.btn-outline:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #0f0f0f;
}
.btn-black.btn-outline.btn[disabled],
input[type="submit"].btn-black.btn-outline.btn[disabled],
.btn-black.btn-outline.btn-disabled,
input[type="submit"].btn-black.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(15, 15, 15, 0.4);
  border: 1px solid rgba(15, 15, 15, 0.3);
}
.btn-black.btn-outline.btn-active,
input[type="submit"].btn-black.btn-outline.btn-active {
  background: none;
  color: rgba(15, 15, 15, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(54, 55, 56, 0.6) inset;
}
.btn-yellow,
input[type="submit"].btn-yellow {
  color: rgba(0, 0, 0, 0.9);
  background: #ffc800;
}
.btn-yellow:hover,
input[type="submit"].btn-yellow:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #cca000;
}
.btn-yellow.btn-active,
input[type="submit"].btn-yellow.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.btn-yellow.btn-active,
input[type="submit"].btn-yellow.btn-active,
.btn-yellow.btn-disabled,
input[type="submit"].btn-yellow.btn-disabled,
.btn-yellow.btn[disabled],
input[type="submit"].btn-yellow.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #cca000;
}
.btn-yellow.btn-active:hover,
input[type="submit"].btn-yellow.btn-active:hover,
.btn-yellow.btn-disabled:hover,
input[type="submit"].btn-yellow.btn-disabled:hover,
.btn-yellow.btn[disabled]:hover,
input[type="submit"].btn-yellow.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-yellow.btn-outline,
input[type="submit"].btn-yellow.btn-outline {
  background: none;
  border-color: #ffc800;
  color: #ffc800;
}
.btn-yellow.btn-outline:hover,
input[type="submit"].btn-yellow.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffc800;
}
.btn-yellow.btn-outline.btn[disabled],
input[type="submit"].btn-yellow.btn-outline.btn[disabled],
.btn-yellow.btn-outline.btn-disabled,
input[type="submit"].btn-yellow.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 200, 0, 0.4);
  border: 1px solid rgba(255, 200, 0, 0.3);
}
.btn-yellow.btn-outline.btn-active,
input[type="submit"].btn-yellow.btn-outline.btn-active {
  background: none;
  color: rgba(255, 200, 0, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(204, 160, 0, 0.6) inset;
}
.btn-white,
input[type="submit"].btn-white {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white:hover,
input[type="submit"].btn-white:hover {
  color: rgba(0, 0, 0, 0.6);
  background: #ededed;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}
.btn-white.btn-active,
input[type="submit"].btn-white.btn-active,
.btn-white.btn-disabled,
input[type="submit"].btn-white.btn-disabled,
.btn-white.btn[disabled],
input[type="submit"].btn-white.btn[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background: #ededed;
}
.btn-white.btn-active:hover,
input[type="submit"].btn-white.btn-active:hover,
.btn-white.btn-disabled:hover,
input[type="submit"].btn-white.btn-disabled:hover,
.btn-white.btn[disabled]:hover,
input[type="submit"].btn-white.btn[disabled]:hover {
  color: rgba(0, 0, 0, 0.5);
}
.btn-white.btn-outline,
input[type="submit"].btn-white.btn-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white.btn-outline:hover,
input[type="submit"].btn-white.btn-outline:hover {
  color: rgba(0, 0, 0, 0.9);
  background: #ffffff;
}
.btn-white.btn-outline.btn[disabled],
input[type="submit"].btn-white.btn-outline.btn[disabled],
.btn-white.btn-outline.btn-disabled,
input[type="submit"].btn-white.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-white.btn-outline.btn-active,
input[type="submit"].btn-white.btn-outline.btn-active {
  background: none;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}
.btn-white.btn-outline.btn-active {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.4875em 2.5em;
}
/*
	Buttons Group
*/
.btn-single,
.btn-group {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.btn-single:after,
.btn-group:after {
  content: "";
  display: table;
  clear: both;
}
.btn-single > .btn,
.btn-single > input,
.btn-group > .btn,
.btn-group > input {
  float: left;
  border-radius: 0;
  margin-left: -1px;
}
.btn-single > .btn {
  border-radius: 2px;
}
.btn-group > .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group > .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
/* =Helpers
-----------------------------------------------------------------------------*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
.highlight {
  background-color: #f7f3e2;
}
.big {
  font-size: 18px;
}
.small {
  font-size: 12.75px;
}
.smaller {
  font-size: 11.25px;
}
.nowrap,
.nowrap td {
  white-space: nowrap;
}
.req,
.required {
  font-weight: normal;
  color: #de2c3b;
}
.error {
  color: #de2c3b;
}
.success {
  color: #2c9f42;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.last {
  margin-right: 0 !important;
}
.pause {
  margin-bottom: 0.825em !important;
}
.end {
  margin-bottom: 0 !important;
}
.normal {
  font-weight: normal;
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.left {
  float: left;
}
.right {
  float: right;
}
.upper {
  text-transform: uppercase;
}
.list-flat {
  margin-left: 0;
  list-style: none;
}
.color-black {
  color: #0f0f0f;
}
.color-white {
  color: #ffffff;
}
/* Colors */
.color-gray-10 {
  color: rgba(0, 0, 0, 0.1);
}
.color-gray-20 {
  color: rgba(0, 0, 0, 0.2);
}
.color-gray-30 {
  color: rgba(0, 0, 0, 0.3);
}
.color-gray-40 {
  color: rgba(0, 0, 0, 0.4);
}
.color-gray-50 {
  color: rgba(0, 0, 0, 0.5);
}
.color-gray-60 {
  color: rgba(0, 0, 0, 0.6);
}
.color-gray-70 {
  color: rgba(0, 0, 0, 0.7);
}
.color-gray-80 {
  color: rgba(0, 0, 0, 0.8);
}
.color-gray-90 {
  color: rgba(0, 0, 0, 0.9);
}
.color-white-10 {
  color: rgba(255, 255, 255, 0.1);
}
.color-white-20 {
  color: rgba(255, 255, 255, 0.2);
}
.color-white-30 {
  color: rgba(255, 255, 255, 0.3);
}
.color-white-40 {
  color: rgba(255, 255, 255, 0.4);
}
.color-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.color-white-60 {
  color: rgba(255, 255, 255, 0.6);
}
.color-white-70 {
  color: rgba(255, 255, 255, 0.7);
}
.color-white-80 {
  color: rgba(255, 255, 255, 0.8);
}
.color-white-90 {
  color: rgba(255, 255, 255, 0.9);
}
/* Responsive embedded objects */
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 1.65em;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .left,
  .right {
    float: none;
  }
  .hide-on-mobile {
    display: none;
  }
}
/* string content */
.str {
  color: #dd1144;
}
/* a keyword */
.kwd {
  color: #333333;
}
/* a comment */
.com {
  color: #999988;
}
/* a type name */
.typ {
  color: #445588;
}
/* a literal value */
.lit {
  color: #445588;
}
/* punctuation */
.pun {
  color: #888;
}
/* lisp open bracket */
.opn {
  color: #333333;
}
/* lisp close bracket */
.clo {
  color: #333333;
}
/* a markup tag name */
.tag {
  color: #367ac3;
}
/* a markup attribute name */
.atn {
  color: #51a7c9;
}
/* a markup attribute value */
.atv {
  color: #709c1a;
}
/* a declaration */
.dec {
  color: #666;
}
/* a variable name */
.var {
  color: teal;
}
/* a function name */
.fun {
  color: #990000;
}
.linenums ol li {
  list-style-type: none;
  counter-increment: list;
  position: relative;
}
.linenums ol li:after {
  content: counter(list);
  position: absolute;
  left: -3.3em;
  border-right: 1px solid #e5e5e5;
  padding-right: 9px;
  width: 2.45em;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
/* =Grid Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .mobile-width-100 {
    width: 100%;
  }
  .units-row .unit-90,
  .units-row .unit-80,
  .units-row .unit-75,
  .units-row .unit-70,
  .units-row .unit-66,
  .units-row .unit-65,
  .units-row .unit-60,
  .units-row .unit-50,
  .units-row .unit-40,
  .units-row .unit-35,
  .units-row .unit-33,
  .units-row .unit-30,
  .units-row .unit-25,
  .units-row .unit-20,
  .units-row .unit-10 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .unit-push-90,
  .unit-push-80,
  .unit-push-75,
  .unit-push-70,
  .unit-push-66,
  .unit-push-65,
  .unit-push-60,
  .unit-push-50,
  .unit-push-40,
  .unit-push-35,
  .unit-push-33,
  .unit-push-30,
  .unit-push-25,
  .unit-push-20,
  .unit-push-10 {
    left: 0;
  }
  .units-row .unit-push-right {
    float: none;
  }
  .units-mobile-50 .unit-90,
  .units-mobile-50 .unit-80,
  .units-mobile-50 .unit-75,
  .units-mobile-50 .unit-70,
  .units-mobile-50 .unit-66,
  .units-mobile-50 .unit-65,
  .units-mobile-50 .unit-60,
  .units-mobile-50 .unit-40,
  .units-mobile-50 .unit-30,
  .units-mobile-50 .unit-35,
  .units-mobile-50 .unit-33,
  .units-mobile-50 .unit-25,
  .units-mobile-50 .unit-20,
  .units-mobile-50 .unit-10 {
    float: left;
    margin-left: 3%;
    width: 48.5%;
  }
  .units-mobile-50 .unit-90:first-child,
  .units-mobile-50 .unit-80:first-child,
  .units-mobile-50 .unit-75:first-child,
  .units-mobile-50 .unit-70:first-child,
  .units-mobile-50 .unit-66:first-child,
  .units-mobile-50 .unit-65:first-child,
  .units-mobile-50 .unit-60:first-child,
  .units-mobile-50 .unit-40:first-child,
  .units-mobile-50 .unit-35:first-child,
  .units-mobile-50 .unit-30:first-child,
  .units-mobile-50 .unit-33:first-child,
  .units-mobile-50 .unit-25:first-child,
  .units-mobile-50 .unit-20:first-child,
  .units-mobile-50 .unit-10:first-child {
    margin-left: 0;
  }
}
/* =Blocks Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .blocks-2,
  .blocks-3,
  .blocks-4,
  .blocks-5,
  .blocks-6 {
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .blocks-2 > li,
  .blocks-3 > li,
  .blocks-4 > li,
  .blocks-5 > li,
  .blocks-6 > li {
    float: none;
    margin-left: 0;
    width: 100%;
  }
  .blocks-mobile-50 > li,
  .blocks-mobile-33 > li {
    float: left;
    margin-left: 3%;
  }
  .blocks-mobile-33,
  .blocks-mobile-50 {
    margin-left: -3%;
  }
  .blocks-mobile-50 > li {
    width: 47%;
  }
  .blocks-mobile-33 > li {
    width: 30.33333333%;
  }
}
/* =Navigation Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .navbar.navbar-left,
  .navbar.navbar-right,
  .navbar li,
  .navbar.navbar-left li,
  .navbar.navbar-right li {
    float: none;
    text-align: left;
    width: auto;
  }
  .navbar li,
  .navbar.navbar-right li {
    margin-left: 0;
    margin-right: 0;
  }
  .fullwidth ul,
  .fullwidth li {
    width: auto;
  }
  .fullwidth li {
    display: block;
  }
}
/* =Forms Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .forms-list label {
    display: inline-block;
  }
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 12pt;
  }
  .h1,
  h1 {
    font-size: 36pt;
  }
  .h2,
  h2 {
    font-size: 24pt;
  }
  .h3,
  h3 {
    font-size: 18pt;
  }
  .h4,
  h4 {
    font-size: 14pt;
  }
  .h5,
  h5 {
    font-size: 12pt;
  }
  .h6,
  h6 {
    font-size: 12pt;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  blockquote {
    border: none;
    font-style: italic;
  }
  img {
    max-width: 100% !important;
  }
  select {
    background: #fff !important;
  }
}
/* =============================================
   LESS Media Queries
   compiled by John Gibby - @thatgibbyguy
   with help from Sydney Stevens - @sstev23
   ============================================= */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #ffffff url('img/ajax-loader.gif') center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/* Icons */
@font-face {
  font-family: "slick";
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format("embedded-opentype"), url('fonts/slick.woff') format("woff"), url('fonts/slick.ttf') format("truetype"), url('fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev:before {
  content: "\2190";
}
.slick-next {
  right: -25px;
}
.slick-next:before {
  content: "\2192";
}
/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}
@font-face {
  font-family: 'icomoon';
  src: url('font/icomoon.eot');
  src: url('font/icomoon.eot?#iefix') format('embedded-opentype'), url('font/icomoon.svg#icomoon') format('svg'), url('font/icomoon.woff') format('woff'), url('font/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icomoon-branding:before,
.icomoon-print:before,
.icomoon-responsive:before,
.icomoon-mobile-phone:before,
.icomoon-facebook:before,
.icomoon-twitter:before,
.icomoon-web:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icomoon-branding:before {
  content: "\62";
}
.icomoon-print:before {
  content: "\70";
}
.icomoon-responsive:before {
  content: "\72";
}
.icomoon-mobile-phone:before {
  content: "\6d";
}
.icomoon-facebook:before {
  content: "\66";
}
.icomoon-twitter:before {
  content: "\74";
}
.icomoon-web:before {
  content: "\77";
}
/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */
/* ==|== CSS Styles, IDs & Elements ===================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
html {
  position: relative;
}
html,
body {
  height: 100%;
}
a {
  color: #301c14;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
a:hover,
a:focus {
  color: #f15d22;
}
h1 {
  text-transform: uppercase;
  color: #f15d22;
  letter-spacing: .1em;
}
ul {
  list-style: none;
  margin-left: 1em;
}
header {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 8%;
  border-top-right-radius: 25px;
  max-width: 650px;
}
header .units-row {
  position: relative;
  margin-bottom: 0;
}
header .units-row h1.brand {
  margin-bottom: 0;
  text-align: center;
}
header .units-row h1.brand a {
  display: block;
  padding: .5em 0 .25em;
}
header .units-row .navbar {
  margin-bottom: 0;
  padding: 0.5em 0;
  border-bottom: 3px solid #f15d22;
}
header .units-row .navbar ul {
  text-align: center;
}
header .units-row .navbar ul li {
  margin-right: 0;
  display: inline-block;
  float: none;
}
header .units-row .navbar a {
  margin: 0 .4em;
  border-bottom: 2px solid transparent;
}
header .units-row .navbar a:hover {
  color: #f15d22;
  text-decoration: none;
  border-bottom: 2px solid #f15d22;
}
header .units-row .main-nav {
  padding-top: 1em;
}
header .units-row .main-nav ul {
  list-style: none;
  margin-left: 1em;
}
header .units-row .main-nav li {
  margin-right: 1.4em;
}
header .units-row .main-nav i {
  border: 2px solid #f15d22;
  padding: .2em;
  border-radius: 50%;
  margin-right: .35em;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #f15d22;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .units-row .main-nav svg {
  width: 3em;
  height: 3em;
  padding: .5em;
  border-radius: 50%;
  border: 2px solid #f15d22;
  margin-right: 1em;
}
header .units-row .main-nav a {
  padding: .15em 0;
  font-size: 1.15em;
  display: table;
  text-decoration: none;
  position: relative;
}
header .units-row .main-nav a:focus i {
  background: #f15d22;
  color: rgba(255, 255, 255, 0.9);
}
header .units-row .main-nav a:focus {
  color: #f15d22;
}
header .units-row .main-nav a span {
  margin-left: 1em;
  display: table-cell;
  vertical-align: middle;
}
header .units-row .main-nav a span:hover {
  text-decoration: underline;
}
header .units-row li:last-child {
  margin-right: 0;
}
.close-x {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -90px;
  padding-bottom: 110px;
}
.main .unit-60 {
  margin: 268px 0 0 27.9%;
  max-width: 650px;
}
.main .unit-60 .tab-content {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  border-left: 3px solid #f15d22;
  border-top-right-radius: 25px;
  padding: 1em;
  position: relative;
}
.main .unit-60 .tab-content h1 i {
  margin-right: .4em;
}
.main .unit-60 .tab-content h3 {
  color: #301c14;
  font-family: adobe-caslon-pro, serif;
}
.main .unit-60 .tab-content input {
  font-size: 2em;
}
.main .unit-60 .tab-content ul li {
  margin-bottom: .75em;
}
.main .unit-60 .tab-content ul i {
  -moz-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  margin-right: .5em;
}
.main .unit-60 .tab-content ul a.accordion {
  text-decoration: none;
}
.main .unit-60 .tab-content .accordion {
  font-weight: bold;
  font-size: 110%;
}
.accordion {
  display: block;
}
.accContent {
  display: none;
}
.accContent li span {
  cursor: pointer;
}
a#gallery {
  display: block;
}
article#photo-gallery:after {
  content: "";
  display: table;
  clear: both;
}
article#photo-gallery .pagination {
  left: 64px;
}
.floorplan-photo {
  display: none;
}
.down {
  transform: rotate(90deg);
}
.link-borders {
  border-top: 1px solid #301c14;
  border-right: 1px solid none;
  border-bottom: 1px solid #301c14;
  border-left: 1px solid none;
  padding: 1em 0;
}
.controls:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: rgba(255, 255, 255, 0.9);
  height: 90px;
  padding: .5em;
  position: absolute;
  clear: both;
  width: 100%;
}
footer img {
  margin-right: .25em;
  vertical-align: middle;
  height: 25px;
}
footer p {
  margin-bottom: 0;
}
/*end test accordion css*/
/* ==|== Custom LESS Variables ===================================================== */
/* ==|== Custom LESS Mixins ===================================================== */
.inline {
  display: inline;
}
/* ==|== Responsive Styles ===================================================== */
@media only screen and (max-width:960px) {
  .main {
    padding-top: 50px;
  }
  .main header.unit-30 {
    width: 80%;
    margin: 0 auto !important;
    display: block;
    position: relative;
    float: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: 3px solid #f15d22;
  }
  .main .main-nav ul {
    margin-bottom: 1em;
  }
  .main .main-nav li {
    width: 49%;
    display: inline-block;
    margin-right: 0 !important;
  }
  .main .unit-60 {
    width: 80%;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .main .unit-60 .tab-content {
    border-radius: 0px;
    border: none;
  }
}
@media only screen and (max-width:480px) {
  .main {
    padding-top: 0;
  }
  .main header.unit-30 {
    width: 95%;
  }
  .main header.unit-30 .main-nav {
    padding-top: 0;
  }
  .main header.unit-30 .main-nav ul {
    text-align: center;
    margin: 0;
  }
  .main header.unit-30 .main-nav li {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #f15d22;
  }
  .main header.unit-30 .main-nav li:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.9);
    border-right: 3px solid #f15d22;
  }
  .main header.unit-30 .main-nav li:nth-of-type(even) {
    margin-left: -5px;
  }
  .main header.unit-30 .main-nav a {
    display: block;
    padding: .35em 0;
  }
  .main header.unit-30 .main-nav i {
    display: none;
  }
  .main header.unit-30 .main-nav span {
    display: inline;
    margin-left: 0;
  }
  .main .unit-60 {
    width: 95%;
  }
}
